<div class="recipe">
  <h2>{{ recipe?.name }}</h2>

  <div class="button-container">
    <button class="print-button" (click)="printRecipe()">Print Recipe</button>

    <img
      *ngIf="isFavourite()"
      src="../../assets/img/star.png"
      alt="star"
      class="star-icon"
      (click)="removeFromFavourites()"
    />

    <img
      *ngIf="!isFavourite()"
      src="../../assets/img/empty-star.png"
      alt="empty star"
      class="star-icon"
      (click)="addToFavourites()"
    />
  </div>

  <ul>
    <li *ngIf="recipe?.category">Category: {{ recipe?.category }}</li>
    <li *ngIf="recipe?.area">Cusine: {{ recipe?.area }}</li>
  </ul>
  <a *ngIf="recipe?.videoPath" href="{{ recipe?.videoPath }}" target="_blank"
    >Video tutorial!</a
  >
  <img
    src="{{ recipe?.imagePath }}"
    alt="{{ recipe?.name }}"
    class="recipe-image"
  />

  <ul>
    <li *ngFor="let ingredient of recipe?.ingredients">
      {{ ingredient.name }}: {{ ingredient.measure }}
    </li>
  </ul>

  <p>{{ recipe?.instructions }}</p>
</div>
